<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple" >

    <supports-screens
        android:anyDensity="false"
        android:largeScreens="false"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nave"
        android:label="SkyChase"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="SkyChase"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="SkyChase"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeleccionNivelActivity"
            android:label="SkyChase"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SeleccionNaveActivity"
            android:label="SkyChase"
            android:screenOrientation="portrait" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="41fb68f26533c63584a6294dde8dccd5581122ec" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
