<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moneda1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneda2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{1,43},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneda3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{34,43},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneda4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,40}</string>
                <key>spriteSourceSize</key>
                <string>{7,40}</string>
                <key>textureRect</key>
                <string>{{43,1},{7,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneda5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{34,85},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moneda6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{1,85},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>moneda.png</string>
            <key>size</key>
            <string>{59,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ffd2300d64b9707c4babae1744a5b6d:d7e2a12efd5d53dc799168586e11d70e:b8e96a3b0eea864d9c309cc779337e95$</string>
            <key>textureFileName</key>
            <string>moneda.png</string>
        </dict>
    </dict>
</plist>
